<!doctype html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>SPDL signal processing & deep learning</title>
	<meta name="description" content="Signal Processing & Deep Learning Framework.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon32.ico') }}">

	<!-- Dependencies -->
	<script src="../static/js/deps/jquery.min.js"></script>
	<script src="../static/js/deps/bootstrap.min.js"></script>
	<script src="../static/js/deps/bootstrap-filestyle.min.js"></script>
	<script src="../static/js/deps/codemirror.js"></script>
	<script src="../static/js/deps/javascript.js"></script>
	<script src="../static/js/deps/dropzone.js"></script>
	<script src="../static/js/deps/simple-ajax.min.js"></script>
	<script src="../static/js/deps/d3.min.js"></script>
	<script src="../static/js/deps/d3-zoom.min.js"></script>
	<script src="../static/js/deps/d3-brush.min.js"></script>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/codemirror.css">
	<link rel="stylesheet" href="../static/css/spdlstyle.css">

	<!-- Javascript -->
   <script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/projects.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/tensors.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/model.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/deploy.js') }}"></script>
</head>

<body>
	<!-- Title Heading -->
	<div class="container">
		<div class="container col-xs-12 col-sm-12">
			<div class="row">
				<div class="span4">
					<div class="content-heading">
						<h1 class="text-left">
							<span class="text-primary">
								<b>SPDL</b>
							</span>
							<span class="text-muted"> signal processing & deep learning</span>
						</h1>
					</div>
					<br>
				</div>
			</div>
		</div>
	</div>

	<!-- Navigation Bar -->
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand">
						<i class="glyphicon glyphicon-list"></i>
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							<a data-toggle="tab" href="#projects">Projects</a>
						</li>
						<li>
							<a data-toggle="tab" href="#tensors">Tensors</a>
						</li>
						<li>
							<a data-toggle="tab" href="#model">Model</a>
						</li>
						<li>
							<a data-toggle="tab" href="#deploy">Deploy</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Content: everything in one file and manage with jQuery rather than use jinja2 templates as its small/easy/responsive -->
		<div class="tab-content">

			<!-- ============================================================== -->
			<!-- PROJECTS -->
			<!-- ============================================================== -->
			<div id="projects" class="tab-pane fade in active">
				<p>Projects Content</p>
				<p>
					<input type=text size=5 name=a> +
					<input type=text size=5 name=b> =
					<span id=result>?</span>
					<p>
						<a href=# id=calculate>calculate server side</a>
			</div>

			<!-- ============================================================== -->
			<!-- TENSORS -->
			<!-- ============================================================== -->
			<div id="tensors" class="tab-pane fade">
				Tensors Content
			</div>

			<!-- ============================================================== -->
			<!-- MODEL -->
			<!-- ============================================================== -->
			<div id="model" class="tab-pane fade">
				Model Content
			</div>

			<!-- ============================================================== -->
			<!-- DEPLOY -->
			<!-- ============================================================== -->
			<div id="deploy" class="tab-pane fade">
				Deploy Content
			</div>

			<!-- ============================================================== -->
			<!-- END -->
			<!-- ============================================================== -->
		</div>
</body>
</html>
